.intro-container {
  position: relative;
  height: 100vh;
  background: url('/img/intro-pc.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .intro-container {
    background: url('/img/intro-mobile.png') no-repeat center center;
    background-size: cover;
  }
}

.intro-text-area {
  max-width: 720px;
  padding: 2rem;
  backdrop-filter: brightness(100%);
}

.intro-subtext {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #eeeeee;
}

.intro-maintext {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.highlight {
  color: #FFD600; /* 강조 색상 */
}

.intro-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #dddddd;
}

.strong {
  color: #FF8A00;
  font-weight: 600;
}

.intro-button {
  background-color: #4F46E5;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.intro-button:hover {
  background-color: #4338ca;
}